<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:with="lang=${#locale.language}" th:lang="${lang}">

<head th:replace="layouts/main :: htmlhead"/>
<body>

<header th:replace="fragments/header :: header"/>

<div class="container-fluid d-flex flex-row vh-100 p-0">
    <div th:replace="fragments/navigation :: navigation(currentPage='user')"/>

    <div class="flex-grow-1 bg-light p-3">
        <h1>User information-page</h1>
        <div class="container-fluid">
            <div class="row border">
                <h5 class="m-2">About user</h5>
            </div>
            <div class="row border bg-white pb-2">
                <table class="table table-borderless m-3">
                    <thead>
                    <tr class="border-top">
                        <th scope="col">ID</th>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Age</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Roles</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="border-top bg-light" th:object="${user}">
                        <td th:text="*{id}"/>
                        <td th:text="*{firstName}"/>
                        <td th:text="*{lastName}"/>
                        <td th:text="*{age}"/>
                        <td th:text="*{email}"/>
                        <td><th:block th:each="role : *{getRoles()}">
                            &nbsp;<span th:text="${role.name}"/>
                        </th:block></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div th:replace="layouts/main :: footer"/>
</body>
</html>